<a href="https://colab.research.google.com/github/Saiteja4555/Assignments/blob/main/Day2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Write a program in Jupyter Notebook to declare variables of different data types.
# int
a = 10
print(a)
print(type(a))

# float
b = 20.5
print(b)
print(type(b))

# complex
c = 3 + 5j
print(c)
print(type(c))

# str
d = "Hello, World!"
print(d)
print(type(d))

# bool
e = True
print(e)
print(type(e))

10
<class 'int'>
20.5
<class 'float'>
(3+5j)
<class 'complex'>
Hello, World!
<class 'str'>
True
<class 'bool'>

In [4]:
# Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples
list_1 = ["Saiteja","Pavani","ChatGpt","CodeChef","HackerRank"]
dict_1 = {"Saiteja":1,"Pavani":2,"ChatGpt":3,"CodeChef":4,"HackerRank":5}
tuple_1 = ("Saiteja","Pavani","ChatGpt","CodeChef","HackerRank")
print(list_1[0])
print(list_1[1])
print(dict_1["Saiteja"])
print(dict_1["Pavani"])
print(tuple_1[0])
print(tuple_1[1])

Saiteja
Pavani
1
2
Saiteja
Pavani